{
    "domain": "test.example.com",
    "docker": {
        "host": "unix:///var/run/docker.sock",
        "version": "v1.22"
    },
    "database": {
        "prefix": "ab_",
        "container": "name or id",
        "type": "mysql"
    },
    "listen": ":80",
    "containers": {
        "exclude": ["redis"]
    }
}